
div [name="standard-step1"] {
    background-color: white;
    border: 1px solid rgba(244, 200, 150, 0.1);
}

#eventTitle, #eventContent, #eventAction, #eventApp {
  width: 80%
}
.eventContent {
  width: 80%;
  height: 120px;
}
