body {
    background-color:#3C4264;
    font-family: "微軟正黑體";
}

th {
    background-color:#BBE8FD;
    border: 3px solid white;
}

td {
    border: 3px solid white;
}

input[type=date] {
    width: 125px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.account {
    width:100%;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.btn-container {
    display: block;
    width: 80px;
}

.modal-overlay {
    box-shadow: 0px 4px 18px 3px rgba(0, 0, 0,0.4); 
}

.overlay-option {
    margin-left:auto;
    margin-right:auto;
    font-size:20px;
    text-align: center;
    line-height: 50px;
    width: 180px;
    height: 50px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    background-color:white;
    margin-bottom: 15px;
    z-index:1000;    
    opacity: 1;
    cursor: pointer;
}

.app-title {
    display: inline-block;
    color:white;
    font-size:large;
    font-weight: bolder;
    padding:0;
}

.title-text {
    display: inline-block;
    padding:10px;
}

.top-menu {
    display: inline-block;
    width: 65px;
    height: 100%;
    background-color:#4A90E2;
    cursor: pointer;
}

.dd-menu {
    position:absolute;
}

#login-container {
    display: block;
    width:50%;
    padding-top:150px;
    margin-left:auto;
    margin-right:auto;
}

.btn-larger {
    font-size: 16px;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.expire {
    color:red;
}

.caution {
    color:orange;
}

.small {
    font-size: 12px;
}

.command-buttons {
    display: inline-block;
    padding: 7px;
}

.command-buttons span {
    height: 20px;
}

.link {
    color:blue;
    cursor: pointer;
}

.search-box {
    display: block;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    float:right;
    margin-right:20px;
    line-height: 30px;
}

.search-field {
    padding:5px;
}

.search-button {
    cursor: pointer;
}

.keyword {
    width: 200px;
}

.step-header {
    color:white;
    background-color:#2E303B;
    padding-top:15px;
    height: 80px;
    font-size:18px;
    border-bottom: 4px solid #F5A623;
}

.step-container {
    display: block;
    background-color: white !important;
    color:black;
}

.step-buttons {
    padding:20px;
}

.step-form-container {
    display: block;
    width: 100%;
}

.step-input-container {
    border-radius: 4px;
    background-color: #F1F1F1;
    padding:10px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right: 10px;
}

.project-title {
    color:white;
}

.project-list {
    background-color: white;
    padding: 10px;
    width: 250px;
    margin-left:auto;
    margin-right:auto;
}

.project-list div {
    cursor:pointer;
    border-bottom: 1px solid grey;
}

.list-container {
    background-color: white;
    height:100%;
}

.sorting {
    background-color:#00C2E8;
}

.circular-button {
    display: inline-block;
    color:white;
    background-color:#F5A623;
    width: 30px;
    height: 30px;
    border-radius:15px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
    /*overflow:hidden;*/
}

.step-highlight {
    background-color:#FF0084;
}

.btn-cancel {
    background-color:white;
    color:black;
}

.event-content {
    width: 100%;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.tabbar {
    display: inline-block;
    width: 290px;
    border-bottom:2px solid #4A90E2;
    vertical-align: bottom;
    background-color: white;
}

.topbar {
    width: 100%;
    display: inline-block;
}

.highlight-tab {
    display: block;
    border:2px solid #4A90E2;
    border-bottom: none;
    border-radius: 4px 3px 0 0; 
    font-size:20px;
    color:#4A90E2;
    padding:7px;
    padding-left:10px;
    padding-right:10px;
    width: 140px;
    height: 40px;
    float:left;
    cursor: pointer;
    text-align: center;
}

.normal-tab {
    display: block;    
    border-radius: 4px 3px 0 0;     
    font-size:20px;
    color:#A9A9A9;
    padding:7px;
    padding-left:10px;
    padding-right:10px;    
    width: 140px;
    height: 40px;
    float:left;
    cursor: pointer;
    text-align: center;        
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.clear {
    clear:both;
}

.full-width {
    width: 100%;
}

.mdl-eventtype {
    background:#00C2E8 !important;
}

.mdl-checkbox-container {
    display: block;
    width:56px;
    height:56px;
    line-height: 56px;
    padding-left:20px;
}

.fit-block {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    width:100%;
    height:50vh;
}

.time-input {
    width: 36px;
}

.period-input {
    width: 60px;
}